* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

header {
    width: 100%;
    height: 8ch;
    border: thin solid;
}

#search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#barra-pesquisa {
    width: 33%;
    height: 4ch;
}

#barra-pesquisa > input {
    width: 100%;
    height: 100%;   
    padding: 1ch;
}

#home {
    margin-top: 4ch;
    margin-bottom: 4ch;
    display: flex;
}

#home-products {
    display: flex;
    gap: 2ch;
    flex-wrap: wrap;
    margin-left: 4ch;
}

.products {
    width: 24ch;
    height: 36ch;
    border: thin solid;
}

.product-image {
    height: 24ch;
    width: 24ch;
}

.product-content {
    padding: 2ch;
}

.product-price {
    display: block;
    width: 100%;
    text-align: right;
}

#home-navigation {
    border: thin solid;
    height: fit-content;
    padding: 1ch;
}

#categories-title {
    border-bottom: thin solid green;
    text-align: center;
    width: 100%;
}

.categories {
    list-style: none;
    padding-left: 0;
    margin: 0;
    width: 32ch;
}

.main-category > a {
    display: block;
    text-decoration: none;
    color: #111;
    width: 100%;
    padding: 1ch;
}

.main-category > a:hover {
    text-decoration: underline;
    background-color: lightyellow;
}

