* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

header {
    width: 100%;
    height: 8ch;
    border: thin solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2ch;
}

search-bar {
    width: 50%;
}

main {
    margin-top: 4ch;
    margin-bottom: 4ch;
    display: flex;
}